{% extends "layout.html" %}
{% set active_page = "edit" %}

{% block content %}
  <legend>New Book</legend>
  <form class="form-horizontal" role="form" method="post" action="/edit/{{book.id|default(0)|e}}">
  {{ form_widget(form._token) }}
    <div class="form-group">
      <label class="col-sm-2 control-label">Category</label>
      <div class="col-sm-10">
        <select id="categories" class="form-control" name="form[category_id]">
          {% for category in categories %}
            <option value="{{category.id|e}}"
              {% if posted is defined and posted.category_id == category.id %}
                selected
              {% elseif book and book.category_id == category.id %}
                selected
              {% endif %}
              >
              {{category.label}}: {{category.description}}
            </option>
          {% endfor %}
        </select>
      <span class="help-inline text-danger">{{ form_errors(form.category_id) }}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Number</label>
      <div class="col-sm-3">
        <input name="form[number]" type="number" min="0" class="form-control" placeholder="Number"
          value="{{posted.number is defined ? posted.number : book.number | default() |e}}"
          >
      </div>
      <div class="col-sm-7">
        <p class="help-block text-info">Autmatically generated when you leave as blank.</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">ISBN</label>
      <div class="col-sm-6">
        <input name="form[isbn]" type="text"
          class="form-control" placeholder="ISBN"
          value="{{posted.isbn is defined ? posted.isbn : (stash_data.isbn is defined ? stash_data.isbn : '') | default() |e}}"
          >
      </div>
      <div class="col-sm-1" id="loading" style="display:none;">
        <img src="/css/loading.gif" alt="loading" title="loading" style="max-width: 60%; height: auto;" >
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Author</label>
      <div class="col-sm-10">
        <input required name="form[author]" type="text"
          class="form-control" placeholder="Author"
          value="{{posted is defined ? posted.author : book.author | default() |e}}"
          >
      <span class="help-inline text-danger">{{ form_errors(form.author) }}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input required name="form[title]" type="text"
          class="form-control" placeholder="Title"
          value="{{ posted is defined ? posted.title : book.title | default() |e}}">
      <span class="help-inline text-danger">{{ form_errors(form.title) }}</span>
      </div>
    </div>
    <div class="form-group">
      <label  class="col-sm-2 control-label">Publisher</label>
      <div class="col-sm-10">
        <input required name="form[publisher]" type="text"
          class="form-control" placeholder="Publisher"
          value="{{posted is defined ? posted.publisher : book.publisher |default()|e}}">
      <span class="help-inline text-danger">{{ form_errors(form.publisher) }}</span>
      </div>
    </div>
    <div class="form-group">
      <label  class="col-sm-2 control-label">Comment</label>
      <div class="col-sm-10">
        <input name="form[comment]" type="text" class="form-control" placeholder="Comment"
          value="{{ posted is defined ? posted.comment : stash_data.comment|default()|e}}">
      <span class="help-inline text-danger">{{ form_errors(form.comment) }}</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
    <textarea style="display:none;" name="form[amazon]">
    {{ posted is defined ? posted.amazon : (stash_data.amazon is defined ? json_encode(stash_data.amazon) : '{}') | default('{}')}}
    </textarea>
  </form>

  <script type="text/javascript">
    jQuery(function($) {
        $('input[name="form[isbn]"]').on('change', function() {
          $('#loading').show();
          $.get('/isbn/' + $(this).val())
           .done(function(json) {
             $('input[name="form[amazon]"]').val(JSON.stringify(json));

             if(_.isEmpty(json)) return;
             $('input[name="form[author]"]').val(_.isArray(json.ItemAttributes.Author) ? json.ItemAttributes.Author.join(', ') : json.ItemAttributes.Author);
             $('input[name="form[title]"]').val(json.ItemAttributes.Title);
             $('input[name="form[publisher]"]').val(json.ItemAttributes.Manufacturer);
             })
           .always(function() {
             $('#loading').hide();
             });
        });
    });
  </script>
{% endblock %}
